@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    background-color: #1e1e1e;
    


}
.logo{
    font-family:'Press Start 2P', cursive;
    font-size:80px;
    background:linear-gradient(180deg, #3be615, #896510,#997112);
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 130px;

}
.menu-container{
    position: fixed;
    top: 20px;
    right: 20px;
    

}
.menu-logo{
    width:70px;
    height:70px;
    background-color:#212121;
    border-radius: 15px;
    background-image: url('media/grass_block.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px #282828;
    transition: all 0.3s ease;
}
.menu-logo:hover{
    box-shadow: 0 0 20px #3f553a;
    cursor: pointer;
    transform:scale(1.1);
    transition: all 0.3s ease;
    transform:translateY(-5px);
}
a{
    text-decoration:none;
    color:#000;
}